<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add Item To Inventory</title>
</head>
<body>

<nav th:replace="fragments :: page-header"></nav>
<h1 th:text="${title}"> </h1>

<h3>IMPORTANT: Be sure to list any batteries and fragile items individually!</h3>
<h3>If like items always travel together, list as a group - if not, please submit to inventory separately.</h3>

<p th:text="${errorMsg}"></p>

<div>
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Item Name:</label>
            <input type="text" th:field="${item.name}" id="name">
        </div>
        <div class="form-group">
            <label>Department:
                <select th:field="${item.department}">
                    <option th:each="department : ${departments}"
                            th:value="${department.id}"
                            th:text="${department.name}"
                    ></option>
                </select>
                <p class="error" th:errors="${item.department}"></p>
                <a href="/department/add">Add A Department</a>
            </label>
        </div>
        <div class="form-group">
            <label for="pieces">Number of Pieces:</label>
            <input type="number" th:field="${item.pieces}" id="pieces">
        </div>
        <div class="form-group">
            <label for="weightKgPerPiece">Weight Per Piece (KG):</label>
            <input type="number" th:field="${item.weightKgPerPiece}" id="weightKgPerPiece">
        </div>
        <div class="form-group">
            <label for="serialNo">Serial Numbers:</label>
            <input type="text" th:field="${item.serialNo}" id="serialNo">
        </div>
        <div class="form-group">
            <label for="valuePerPiece">Value Per Piece (US Dollars):</label>
            <input type="number" th:field="${item.valuePerPiece}" id="valuePerPiece">
        </div>
        <div class="form-group">
            <label for="origin">Country of Origin:</label>
            <input type="text" th:field="${item.origin}" id="origin">
        </div>
        <div class="form-group">
            <label for="owner">Item Owned By or Rented From:</label>
            <input type="text" th:field="${item.owner}" id="owner">
        </div>
        <div class="form-group">
            <label for="tag">Tags:</label>
            <input type="checkbox" name="tag" id="tag">
        </div>
        <div class="form-group">
            <button type="submit" value="submit">Submit</button>
            <button type="reset">Reset All Fields</button>
        </div>
    </form>
</div>

</body>
</html>