<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1 th:text="${title}"> </h1>

<div>
    <form action="/carnet/add" method="post">
        <div class="form-group">
            <label for="trip">Trip:</label>
            <select name="trip" id="trip"> <!-- best case:  reference by Trip Name and Job Number -->
            </select>
        </div>
        <div class="form-group">
            <label for="jobNumber">Job Number (Optional)</label>
            <input type="text" name="jobNumber" id="jobNumber">
        </div>
        <div class="form-group">
            <label for="country">Destination Country:</label>
            <input type="text" name="destination" id="country">
        </div>
        <div class="form-group">
            <label for="importDate">Equipment Import Date At Destination Country:</label>
            <input type="date" name="importDate" id="importDate">
        </div>
        <div class="form-group">
            <label for="exportDate">Equipment Export Date From Destination Country:</label>
            <input type="date" name="exportDate" id="exportDate">
        </div>
        <div class="form-group">
            <label for="transit">Transit/Connection Countries:</label>
            <input type="text" name="transit" id="transit">
        </div>
        <div class="form-group">
            <button type="submit" value="submit">Submit</button>
            <button type="reset">Reset All Fields</button>
        </div>
    </form>
</div>

</body>
</html>