<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Delete Job</title>
</head>
<body>

<nav th:replace="fragments :: page-header"></nav>
<h1 th:text="${title}"> </h1>

<table>
    <tr>
        <th>System ID</th>
        <th>Job Name</th>
        <th>Job Number</th>
    </tr>
    <form method="post">
        <th:block>
            <div class="form-group">
                <tr th:each="job : ${jobs}">
                    <td><input type="checkbox" name="jobIds" th:value="${job.id}"></td> <!-- not sure if item.id will actually work as written-->
                    <td th:text="${job.id}"></td>
                    <td th:text="${job.name}"></td>
                    <td th:text="${job.jobNumber}"></td>
                </tr>
            </div>
        </th:block>
        <div class="form-group">
            <button type="submit" value="submit">Submit</button> <!-- TODO figure out how to move form buttons below boxes -->
            <button type="reset">Reset All Fields</button>
        </div>
    </form>
</table>

</body>
</html>