<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Trip Index</title>
</head>
<body>

<h1 th:text="${title}"> </h1>

<table>
    <tr>
        <th>System ID</th>
        <th>Trip Name</th>
        <th>Job No.</th>
        <th>Destination</th>
        <th>Import Date</th>
        <th>Export Date</th>
        <th>Transit Country(s)</th>
        <th>Equip List Attached?</th>
    </tr>
    <th:block>
        <tr>
            <td th:text="${trip.id}"></td>
            <td th:text="${trip.name}"></td>
            <td th:text="${trip.jobNumber}"></td>
            <td th:text="${trip.country}"></td>
            <td th:text="${trip.importDate}"></td>
            <td th:text="${trip.exportDate}"></td>
            <td th:text="${trip.transit}"></td>
            <td th:text="${trip.isEquipAttached}"></td>
    </th:block>
    </tr>
</table>


</body>
</html>