<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Equipment List Index</title>
</head>
<body>

<nav th:replace="fragments :: page-header"></nav>
<h1 th:text="${title}"> </h1>

<table>
    <tr>
        <th>System ID</th>
        <th>List Name</th>
        <th>Job Reference</th>
        <th>Trip Reference</th>
    </tr>
    <th:block>
        <tr th:each="equiplist : ${equiplists}">
            <td th:text="${equiplist.id}"></td>
            <td th:text="${equiplist.name}"></td>
            <td th:text="|${equiplist.trip.job.jobNumber} // ${equiplist.trip.job.name}|"></td>
            <td th:text="${equiplist.trip.name}"></td>
    </th:block>
    </tr>
</table>

</body>
</html>